@model IEnumerable<BookStore.Models.Author>

@{
    ViewData["Title"] = "Authors List";
}

<h2>Authors</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Author ID</th>
            <th>Name</th>
            <th>Biography</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.AuthorName</td>
                <td>@author.Biography</td>
            </tr>
        }
    </tbody>
</table>
